<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="user-card">
                    <mat-card-title class="card-title">
                        <h2>Users</h2>
                        <button
                          color="primary"
                          mat-fab
                          align="end"
                          matTooltip="Agregar usuario"
                          [routerLink]="['/account/new/']"
                        >
                        <i class="material-icons" >add</i>
                        </button>
                    </mat-card-title>
                <mat-card-content class="user-list-card-content">
                    <sc-user-list></sc-user-list>
                </mat-card-content>
            </mat-card>            
        </mat-grid-tile>
        
        <!--ABMD-->
        <ng-container>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="user-card">
                        <mat-card-title>
                            <h2>User profile</h2>                          
                        </mat-card-title>
                    <mat-card-content class="user-list-card-content">
                        <sc-user-profile></sc-user-profile>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</div>
