.register-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
}

.register-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}