<div class="register-picture-wrapper">
    <div class="register-container">
        <mat-card class="register-card" align="center">
            <mat-card-title>
                <div class="text-center">
                    <h2 class="app-name">{{title}}</h2>
                </div>
            </mat-card-title>
            <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
            <mat-card-content>
            <sc-user-register [title]="title" [subTitle]="subTitle"></sc-user-register>
            </mat-card-content>
        </mat-card>
    </div>
</div>