<div class="container">
    <h3 mat-dialog-title>Delete user</h3>
    <div mat-dialog-content>
      <p></p>
      Se borrará el siguiente user: {{data.name}}      
      <p></p>
    </div>  
    <div mat-dialog-actions>
      <button mat-raised-button 
      style="margin-right:5px;" color="warn" [mat-dialog-close]="data" (click)="confirmDelete()">Delete</button>
      <button mat-raised-button color="primary" 
      style="margin-right:5px;" (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>