<div class="container">
    <mat-card class="login-card">
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Ingrese con su cuenta</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email"
                                type="email">
                                <mat-icon matSuffix>email</mat-icon>
                            <mat-error id="invalidEmailError" *ngIf="form.controls['email'].hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error id="requiredEmailError" *ngIf="form.controls['email'].hasError('required')">
                                Email is
                                <strong>required</strong>
                            </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                [type]="hide ? 'password' : 'text'" autocomplete="current-password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error id="requiredPasswordError" *ngIf="form.controls['password'].hasError('required')">
                    Password is
                    <strong>required</strong>
                </mat-error>
              </mat-form-field> 
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>          
          <button mat-raised-button color="primary" type="submit"
          [disabled]="form.invalid || loading">Submit</button>
          
          <button mat-raised-button color="basic" class="button" type="button" 
          (click)="register()">Registrarse</button>    
        </mat-card-actions>
      </form>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </mat-card>
</div>


